.Post{
    width: 80vh;
    border-radius: 2rem;
    background-color: #fff;
    padding: 1rem 3rem 3rem  3rem;
    margin: 2rem;
}
.Howyoufell{
    width: 70vh;
    height: 50vh;
    margin: 1rem 2rem 1rem 2rem ;
    padding: 1rem;
    text-align: start;
    resize: none; 
    overflow-y: auto;
    font-size: 16px;
    border-radius: 0.2rem;
    border: 1px solid #a19284;
   
}
.closes{
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #fff;
    background-image: url('../icon/rejected.png');
    background-position: 2px 4px;
    background-repeat: no-repeat; 
    background-size: 20px;
    border: 0px solid #fff;
    border-radius: 0.5rem;
    float: right;
}
.imagesplus{
    width: 20px;
    height: 30px;
    display: flex;
    background-color: #fff;
    background-image: url('../icon/imageplus.png');
    background-position: 2px 0;
    background-repeat: no-repeat; 
    background-size: 20px;
    border: 0px solid #fff;
    border-radius: 0.5rem;
    padding-left: 2rem;
    
}
.creatPs{
    width: 8rem;
    height: 2.7rem;
    color: #FFFFFF;
    background-color: #633D19;
    border: 0.01px solid #633D19;
    border-radius: 0.5rem;
    float: right;
}